/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
 @import 'https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css';

:root {
   --single-post-paginate-primary-color: #0f0e17;
   --single-post-paginate-secondary-color: #ff8906;
   --single-post-paginate-tertiary-color: #f25f4c;
   --single-post-paginate-disabled-color: #a7a9be;
   --single-post-paginate-headline-color: #fffffe;
}

.spp-bg-color-primary {
   background-color: var(--single-post-paginate-primary-color);
}

.spp-screen-wrap {
   width: calc(100% + 25px) !important;
   margin-left: -20px;
   min-height:100vh;
}
.spp-screen-wrap th {
   color: var(--single-post-paginate-disabled-color);
}

.spp-screen-wrap h1 {
   color: var(--single-post-paginate-headline-color);
   font-weight: 800;
   font-size: 22px;
   margin-bottom: 20px;
}

.spp-screen-wrap h2 {
   color: var(--single-post-paginate-secondary-color);
   font-weight: 600;
   font-size: 18px;
}

.spp-screen-wrap {
   padding: 15px;
   color: var(--single-post-paginate-disabled-color);
}

.spp_space_between_section {
   margin: 60px 0;
}

.spp-bg-primary-color {
   background-color: var(--single-post-paginate-primary-color);
}

.spp-content p {
   font-size: 16px;
}

.spp-content ul li {
   font-size: 14px;
}

.spp-flex-between {
   width: 50%;
   display: flex;
   align-items: center;
   justify-content: flex-start;
   gap: 18px;
}

.spp-input-field .switch {
   position: relative;
   display: inline-block;
   width: 60px;
   height: 30px;
}
 
.spp-input-field .switch input { 
   opacity: 0;
   width: 0;
   height: 0;
}
 
.spp-input-field .slider {
   position: absolute;
   cursor: pointer;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: var(--single-post-paginate-disabled-color);
   -webkit-transition: .4s;
   transition: .4s;
}
 
.spp-input-field .slider:before {
   position: absolute;
   content: "";
   height: 20px;
   width: 20px;
   left: 5px;
   bottom: 5px;
   background-color: white;
   -webkit-transition: .4s;
   transition: .4s;
}
 
.spp-input-field input:checked + .slider {
   background-color: var(--single-post-paginate-secondary-color);
}
 
.spp-input-field input:focus + .slider {
   box-shadow: 0 0 1px var(--single-post-paginate-secondary-color);
}
 
.spp-input-field input:checked + .slider:before {
   -webkit-transform: translateX(28px);
   -ms-transform: translateX(28px);
   transform: translateX(28px);
}
 
 /* Rounded sliders */
 .spp-input-field .slider.round {
   border-radius: 34px;
}
 
.spp-input-field .slider.round:before {
   border-radius: 50%;
}


/* Template Part */
.spp-radio-template-div {
   display: flex;
   flex-direction: column;
   gap: 20px;
   width: 250px;
}

.spp-radio-label input[type="radio"] + img {
   width: 100%;
   height: auto;
}

.spp-radio-label {
   position: relative;
   display: inline-block;
   margin-right: 10px;
}
 
.spp-radio-label input[type="radio"] {
   display: none;
}
 
.spp-radio-label input[type="radio"] + img {
   border: 3px solid transparent; /* Couleur de la bordure lorsqu'il est coché */
   position: relative;
   z-index: 2;
}
 
.spp-radio-label input[type="radio"]:checked + img {
   border: 3px solid var(--single-post-paginate-secondary-color); /* Couleur de la bordure lorsqu'il est coché */
}

.spp-radio-template-premium {
   position: relative;
 }
 
.spp-radio-template-premium::after {
   content: "Premium only";
   position: absolute;
   top: 10px;
   right: 10px;
   padding: 4px 8px;
   background-color: rgb(202, 12, 12);
   color: white;
   font-size: 12px;
   font-weight: bold;
   border-radius: 4px;
   z-index: 1000;
}

/* FORMULAIRE SHORTCODE */

.spp-input-field-shortcode {
   display: flex;
   align-items: center;
   gap: 25px;
   margin-left: 25px;
}
.spp-input-field-shortcode-template {
   display: flex;
   align-items: self-start;
   gap: 25px;
   margin-left: 25px;
}
.spp-input-field-shortcode-url {

   margin-left: 25px;
}
.spp-input-field-shortcode > .input {
  width: 70%;
}


/*  Image selection  */
.spp-input-field-img-choose {
 display: flex;
 flex-direction: row;
 align-items: center;
 gap: 25px;
}

.spp-preview-image {
   width: 100%;
   max-width: 130px;
   height: auto;
   margin-top: 10px;
}

#spp_custom_logo_link {
   width: 250px;
   border: none;
   outline: none;
}

.spp_custom_logo_link_div {
   display: flex;
   align-items: center;
   gap: 25px;
}